* {
	box-sizing: border-box;
}

body {
	background: #404040;
}

img {
	width: 100%;
	height: 100%;
}

#carouselExampleIndicators {
	width: 800px;
	margin: auto;
}

audio:hover, audio:focus, audio:active
{
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}
